.footer {
    height: 3em;
    display: flex;
    border-top: 1px solid #ccc;
    background-color: #60c9cf;

    &__title {
        color: #fff;
        font-size: 0.8em;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
    }
}